/* Existing styles */
body {
    font-family: 'Bahnschrift', sans-serif;
    margin: 0;
    margin-right: 20px;
    padding: 0;
    background-color: #f0f0f0;
}

i {
    cursor: pointer;
}

a:hover {
    cursor: pointer;
}

.disabled-link {
    cursor: default;
    pointer-events: none;
}

.invalid {
    border: 1px solid red;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    font-size: 3rem;
    font-weight: bold;
}

.m {
    display: inline-block;
    position: relative;
    color: yellow;
    transform: rotate(-10deg);
}

.underline {
    display: block;
    width: 100%;
    height: 2px;
    background: linear-gradient(45deg, #ffcc00, #ff9900, #ffdd55, #ffcc00);
    background-size: 300% 300%;
    position: absolute;
    bottom: 11px;
    left: 0;
    animation: gradientShift 3s infinite linear;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
}

.add-member a {
    color: #fff;
    text-decoration: none;
    padding-right: 30px;
}

.bottom-menu {
    background-color: #333;
    padding: 10px;
    border-top: 1px solid #222;
}

.multi-tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.multi-tabs li {
    margin-right: 20px;
}

.multi-tabs li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px 8px 0 0;
    background-color: #444;
    transition: background-color 0.3s ease;
}

.multi-tabs li a:hover {
    background-color: #555;
}

.container {
    max-width: 1200px;
    margin: 10px auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container_maxwindow {
    width: 100vw; /* 100% of viewport width */
    height: 100vh; /* 100% of viewport height */
    margin: 10px auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: -10px;
    left: 0px;
    z-index: 100;
}

h1 {
    color: #333;
}

/* Existing CSS */
.bottom-menu {
    display: flex;
    align-items: center;
}

.multi-tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 1200px;
}

.multi-tabs li {
    margin-right: 3px; /* Adjust margin between tabs */
    width:220px;
    margin-top: 20px;
}

.multi-tabs li:last-child {
    margin-right: 10px; /* Adjust margin between last tab and "+" icon */
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Additional CSS */
.progress-container {
    margin-top: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.progress-container label {
    display: block;
    margin-bottom: 5px;
}

.progress-round {
    background-color: rgb(192, 192, 192);
    width: 100%;
    border-radius: 15px;
}

.progress {
    height: 10px;
    text-align: right;
    font-size: 15px;
    border-radius: 15px;
}

.progress-container #progress-percent {
    display: block;
    margin-top: 5px;
    font-weight: bold;
}

.ip-wrapper {
    background-color: lightblue;
    padding: 1px;
    font-weight: bold;
    border-radius: 10px;
    width:230px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

.status-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.remove-circle {
    margin-left: -10px;
    width: 8px;
    height: 8px;
    color: red;
    right: 10px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.gray {
    background-color: gray;
}

.lightgreen {
    background-color: #b0ffb0;
}

.lightred {
    background-color: #ffb0b0;
}

.lightblue {
    background-color: #d0d0ff;
}

.lightgray {
    background-color: #b0b0b0;
}

.list-container {
    margin-top: 10px; /* Add some space between the IP address and the list */
}

.list-container div {
    padding: 5px 10px; /* Padding for list items */
    margin-bottom: 5px; /* Add some space between list items */
    border-radius: 5px; /* Rounded corners for list items */
}

.list-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.list-item span {
    margin-right: 10px;
}

.box {
    display: inline-block; /* or float: left; */
    margin: 10px;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
}

/* CSS for the panel on the right side */
#serial-panel {
    position: fixed;
    top: 0;
    right: -300px; /* Initially position off-screen */
    width: 300px; /* Adjust width as needed */
    height: 100%;
    z-index: 100;
    background-color: #fff;
    padding: 20px;
    border-left: 1px solid #ccc;
    overflow-y: auto; /* Enable vertical scrolling if needed */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    transition: right 0.3s ease; /* Add smooth transition */
}

#serial-panel.visible {
    right: 0; /* Bring the panel into view */
}

#serial-panel h2 {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
}

#serial-sel {
    text-align: center;
    background-color: #d0d0ff;
    margin-left: 30px;
    margin-bottom: 20px;
}

/* CSS for the list of serials */
#serial-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 30px;
}

#serial-list li {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc; /* Add separators between serials */
    padding-bottom: 5px;
    cursor: pointer;
}

#serial-list li:last-child {
    border-bottom: none; /* Remove border from last serial */
}

#serial-list li span {
    font-weight: bold;
}

#serial-list li p {
    margin: 5px 0;
}

.toggle-panel-button {
    display: flex;
    flex-direction: column; /* Display items in a column */
    align-items: flex-start; /* Center items horizontally */
    cursor: pointer;
    position: fixed;
}

.serial-text {
    margin-top: 5px; /* Adjust spacing as needed */
    margin-left: -5px; /* Adjust spacing as needed */
    writing-mode: vertical-lr; /* Rotate text vertically */
    text-orientation: mixed; /* Ensure text orientation is mixed */
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333; 
    color: #fff;
}

.setting-container { 
    width: 50%; 
    margin: auto; 
    padding: 20px; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
}
.progress { 
    width: 100%; 
    height: 20px; 
    background: #eee; 
    border-radius: 5px; 
    overflow: hidden; 
    margin-top: 10px; 
}
.progress-bar { 
    width: 0%; 
    height: 100%; 
    background: green; 
    text-align: center; 
    color: white; 
    line-height: 20px;
}
    